<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.first_name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <h1><%= actor.first_name + " " + actor.last_name %> </h1>
    <br>
    <p>NOMBRE: <%= actor.first_name %></p>
    <p>APELLIDO: <%= actor.last_name %> </p>
    <p>RATING: <%=actor.rating %> </p>
  
    <p><a href="/actors/edit/<%=actor.id  %>"> EDITAR</a></p>
    <p><a href="/actors">LISTADO DE ACTORES</a></p>
    <p><a href="/actors/delete/<%= actor.id  %>">BORRAR ACTOR(CUIDADO)</a></p>

    <form action="/actors/delete/<%= actor.id %>?_method=DELETE" method="POST">
        <br>
        <p> <button class="botonBorrar" type="submit">Borrar la Película</button>

        </p>

        </form>
</body>
</html>